:root{
    --font-title:'Sansita Swashed', cursive;
    --font-text:'Quicksand', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 14px 0px ;
    margin-bottom: 20px;
    background-color: lightcyan;
}
.title-average{
    font-family: var(--font-title);
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}



/* NAV */





.nav-container a:hover{
    border: 3px solid lightgoldenrodyellow;
    background-color: lightcyan;
    box-shadow: 1px 1px 14px 5px lightgoldenrodyellow;
}
.nav-container a:nth-child(1){
    padding-top: 17px;
}
.nav-container a:nth-child(2){
    width: 78px;
    height: 60px;
}
.nav-container a{
    border: 3px solid lightcyan;
    width: 65px;
    height: 55px;
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 10px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 0px 7px;
    border-radius: 30px;
    padding: 14px 0px;
}
.nav-container{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}




/* Main */



.principal-container{
    margin: 55px auto;
    background-color: lightblue;
    border-radius: 50px;
    border: 15px solid lightgoldenrodyellow;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}


.form-container{
    display: grid;
    grid-template-rows: repeat(5, 0.2fr) auto;
    padding: 8px;
    width: 320px;
}

/* one row*/

.number-label{
    font-family: var(--font-text);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* two row*/

.number-input{
    justify-self: center;
    font-family: var(--font-text);
    font-size: 15px;
    text-align: center;
    width: 120px;
    height: 30px;
    margin: 20px;
    border: 2px solid lightblue;
    border-radius: 20px;
    outline: none;
}
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.number-input:hover{
    border: 2px solid rgb(122, 197, 197);
}

/* thee row*/

.buttons-container{
    justify-self: center;
}


.send-button{
    width: 160px;
    height: 30px;
    font-size: 12px;
    font-family: var(--font-text);
    background-color: lightcyan;
    border: 2px solid lightcyan;
    border-radius: 20px;
    margin-left: auto;
}
.send-button:hover{
    background-color: lightblue;
    border: 2px solid lightcyan;
}


.clean-button{
    width: 85px;
    height: 30px;
    font-size: 12px;
    font-family: var(--font-text);
    background-color: lightcyan;
    border: 2px solid lightcyan;
    border-radius: 20px;
    margin-right: auto;
}
.clean-button:hover{
    background-color: lightblue;
    border: 2px solid lightcyan;
}

/* four row*/

.count-list-container{
    font-family: var(--font-text);
    font-size: 15px;
    text-align: center;
    margin: 20px;
    background-color: rgb(114, 188, 212);
    border-radius: 20px;
    padding: 10px;
}

/* five row*/

.average-container{
    font-family: var(--font-text);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    background-color: lightcyan;
    border-radius: 20px;
    padding: 10px;
    width: 265px;
    height: auto;
    justify-self: center;

}

/* six row*/

.list-container{
    display: none;
    font-family: var(--font-text);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    background-color: lightcyan;
    border-radius: 20px;
    padding: 10px;

}









/* Footer */

footer{
    background-color: lightcyan;
    width: 100%;
    height: 80px;
    display: grid;
    gap: 7px;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    margin-top: 13px;
    padding: 0 7px;
}
footer h3{
    font-family: var(--font-text);
    margin-left: 5px;
    font-size: 10px;
    text-align: center;
}
.a-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.facebook{
    width: 100%;
    height: 30px;
    padding: 4px 7px;
    border: 2px solid #1E6BE1;
    text-align: center;
    background-color: #1E6BE1;
    color: white;
    border-radius: 5px;
}
.facebook:hover{
    background-color: white;
    color: #1E6BE1;
    border: 2px solid #1E6BE1;
}
.instagram{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid #E11EE1;
    text-align: center;
    background-color: #E11EE1;
    color: white;
    border-radius: 5px;
}
.instagram:hover{
    background-color: white;
    color: #E11EE1;
    border: 2px solid #E11EE1;
}
.linkedin{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid #0358F7;
    text-align: center;
    background-color: #0358F7;
    color: white;
    border-radius: 5px;
}
.linkedin:hover{
    background-color: white;
    color: #0358F7;
    border: 2px solid #0358F7 ;
}
.twitter{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid #528EFF;
    text-align: center;
    background-color: #528EFF;
    color: white;
    border-radius: 5px;
}
.twitter:hover{
    background-color: white;
    color: #528EFF;
    border: 2px solid #528EFF;
}
.github{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.github:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}