:root{
    --font-title:'Sansita Swashed', cursive;
    --font-text:'Quicksand', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgoldenrodyellow;
}
header{
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 14px;
    margin-bottom: 20px;
    background-color: lightcyan;
}


.title-discount{
    font-family: var(--font-title);
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





/* NAV */





.nav-container a:hover{
    border: 3px solid lightgoldenrodyellow;
    background-color: lightcyan;
    box-shadow: 1px 1px 14px 5px lightgoldenrodyellow;
}
.nav-container a{
    border: 3px solid lightcyan;
    width: 236px;
    height: 58px;
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 20px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 0px 20px;
    border-radius: 30px;
    padding: 14px 0px;
}
.nav-container{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}







/* Main */





.principal-container{
    max-width: 720px;
    height: auto;
    background-color: lightpink;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

.form-container{
    display: grid;
    grid-template-rows: repeat(7, 0.5fr);
    gap: 5px;
    justify-content: center;
    justify-items: center;
}

.title-container{
    font-family: var(--font-text);
    font-size: 22px;
    text-align: center;
    align-self: center;
    margin: 8px;
}

.label-price{
    font-size: 20px;
    font-family: var(--font-text);
    align-self: center;
}
.input-price{
    font-size: 15px;
    font-family: var(--font-text);
    width: 80px;
    height: 30px;
    border: 2px solid lightpink;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    outline: none;
}


.input-price:hover{
    border: 2px solid rgb(252, 149, 164);
}

.input-price::-webkit-inner-spin-button,
.input-price::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}


.label-percent{
    font-size: 20px;
    font-family: var(--font-text);
    align-self: center;
}
.input-percent{
    font-size: 15px;
    font-family: var(--font-text);
    width: 80px;
    height: 30px;
    border: 2px solid lightpink;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    outline: none;
}
.input-percent:hover{
    border: 2px solid rgb(252, 149, 164);
}


.input-percent::-webkit-inner-spin-button,
.input-percent::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}


.button-price{
    font-size: 16px;
    width: 280px;
    height: 40px;
    font-family: var(--font-text);
    background-color: rgb(252, 149, 164);
    border: 2px solid rgb(252, 149, 164);
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
}
.button-price:hover{
    box-shadow: 1px 1px 14px 5px rgb(255, 208, 215);
    cursor: pointer;
}

.result{
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: var(--font-text);
    margin: 15px;
    padding: 10px;
    border: 1px solid rgb(252, 149, 164);
    border-radius: 12px;
    box-shadow: 1px 1px 6px 3px rgb(252, 149, 164);
}












/* Footer */

footer{
    background-color: lightcyan;
    width: 100%;
    height: 80px;
    display: grid;
    gap: 7px;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    margin-top: 13px;
    padding: 0 7px;
}

footer h3{
    font-family: var(--font-text);
    margin-left: 5px;
    font-size: 15px;
    text-align: center;
}
.a-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.facebook{
    width: 100%;
    height: 30px;
    padding: 4px 7px;
    border: 2px solid #1E6BE1;
    text-align: center;
    background-color: #1E6BE1;
    color: white;
    border-radius: 5px;
}
.facebook:hover{
    background-color: white;
    color: #1E6BE1;
    border: 2px solid #1E6BE1;
}
.instagram{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid #E11EE1;
    text-align: center;
    background-color: #E11EE1;
    color: white;
    border-radius: 5px;
}
.instagram:hover{
    background-color: white;
    color: #E11EE1;
    border: 2px solid #E11EE1;
}
.linkedin{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid #0358F7;
    text-align: center;
    background-color: #0358F7;
    color: white;
    border-radius: 5px;
}
.linkedin:hover{
    background-color: white;
    color: #0358F7;
    border: 2px solid #0358F7 ;
}
.twitter{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid #528EFF;
    text-align: center;
    background-color: #528EFF;
    color: white;
    border-radius: 5px;
}
.twitter:hover{
    background-color: white;
    color: #528EFF;
    border: 2px solid #528EFF;
}
.github{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.github:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}